    @media screen and (min-width: 300px) and (max-width: 479px) {
        nav.menu {
            /* text-align: left !important;
            text-align: -webkit-left !important; */
            display: flex;
            justify-content: space-around;
        }
        nav.menu a {
            /* padding-left: 50px; */
            padding: 3px !important;
            margin: 0 !important;
        }
        div.background-contenaire {
            padding: 50px 15px !important;
        }
        div.align-header-card, div.align-header-card:nth-child(1) {
            padding: 7px 15px !important;
        }
        div.topbare-header {
            padding: 0px !important;
        }
        div.search {
            display: none;
        }
    }
