@media screen and (min-width: 769px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
    a.logo {
        font-size: 2em;
    }
    nav.actu-profil a {
        width: 150px;
    }
    nav.menu a {
        /* padding-left: 50px; */
        padding: 10px ;
        margin: 0;
        /* display: flex; */
        /* flex-direction: row; */
        /* justify-content: space-between; */
    }
    aside.aside {
        flex: none;
        width: 240px;
    }
   form input{
        width: 200px;
    }
}
